/*#container {
    width: 500px;
    height: 1000px;
    margin: auto;
    background: yellow;
}*/

/*#picture {
    width: 500px;
    height: 1000px;
    margin: auto;
    background: yellow;
}*/

#full-body{

    background: yellow;
    padding-bottom: 100px;

}